@import "~kernl-ui/src/styles/main";
@import "~formstone/dist/css/navigation";

#html {
  background-color: $black;

  body {
    background-color: #fff;
    position: relative; // to contain overlay masthead

    @include mqbp_up(xx) {
      margin-right: auto !important;
      margin-left: auto !important;
      max-width: 1700px;
    }
  }
}

abbr {
    border-bottom: 0 none !important;
    font-size: 1em !important;
    letter-spacing: normal !important;
    padding: 0 !important;
}

.\--flush > .row {
    margin-right: 0;
    margin-left: 0;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
};

.masthead {
    z-index: 1;

    .__logo__image {
        @include mqbp-up(d) {
            max-height: 3.25rem;
        }
    }

    .__link,
    .__item a {
        position: relative;
        display: block;
        padding: 0;
        font-size: $fs-sm;
        border-bottom: 0 none;

        &::after {
            display: none;
        }
    }
}

.bg--img .modal {
    text-shadow: none;

    a { color: $red; }
}

.section {
    &:not(.\--hero) > .__header {
        .__title {
            @extend .fs--d3;
            @extend .fw--300;
            padding-bottom: 5px;
            border-bottom: 1px solid $gray;
        }

        .__subtitle {
            font-size: 1.1rem;
            font-weight: 400;
            line-height: 1.6;

            @include mqbp-up(t) {
                font-size: $fs-d1;
                font-weight: 300;
                line-height: 1.45;
            }
        }
    }

    &.\--hero {
        padding-top: 6rem;
        padding-bottom: 4.4rem;

        @include mqbp-up(t) {
            padding-top: 9rem;
        }

        > .__header { flex: 0; }

        .__title,
        .__subtitle { animation: fadeDown 1.5s ease-in-out 0s 1; }

        .__subtitle {
            font-weight: 400;
            font-size: 1.15rem;

            @include mqbp-up(t) {
                font-size: $fs-d1;
                font-weight: 300;
            }
        }

        @include mqbp-up(d) {
            .__title {
                font-size: 2.66rem !important;
            }
        }

        @media screen and (min-width: 1441px) {
            max-height: 580px !important;
            min-height: auto;
            padding-top: 14rem;

            .btn { display: none; }
        }
    }

    &.router-view { position: static; } // for faux modal
}

.salaries {
    &__title {
        @extend .fs--d3;
        @extend .fw--300;

        padding-bottom: 5px;
        border-bottom: 1px solid $gray;
        margin-bottom: 3.5rem;
    }

    &__y-information {
        display: flex;
        width: 4%;
    }

    &__y-tick {
        align-items: end;
        justify-self: flex-end;
        display: block;
        position: relative;
        left: 1rem;
    }

    &__y-label {
        display: block;
        transform: rotate(-90deg);
        align-self: center;
        margin: 0;
        width: 5%;
        white-space: nowrap;
    }
}

@include mqbp-up(t) {
    #filter_menu {
        z-index: 1;
    }

    #filter_menu_handle {
        padding-left: 2.5rem !important;
    }

    #chart_menu_handle {
        padding-right: 2.5rem !important;
    }
}


.__filtered #filter_menu_handle .feather { color: $yellow; }

.active-filters {
    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__name {
        @extend .fw--700;

        text-transform: capitalize;
    }

}

.industry-data {
    &__header {
        @extend .fs--d2;
        @extend .fw--700;

        margin-top: 50px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;

        @include mqbp-up(t) {
            columns: 2;
        }
    }

    &__list.--b-first > li:first-child {
        @extend .fw--700;

        color: $red;
    }

    li { @extend .fs--sm; }

    &__perc {
        @extend .fw--700;

        display: inline-block;
        min-width: 7ch;
    }

    &__button {
        text-transform: uppercase;
        border-color: $black;
    }

    &__companies {
        position: relative;

        &-nav {
            position: absolute;
            top: 0.25rem;
            right: 0;
        }
    }
}

.chrome-header {
    @extend .bg--gray-700;

    &.__copy {
        @extend .fw--100;

        max-width: 800px;
        margin: 3rem auto 0;

        @include mqbp-up(d) {
            margin-top: 1rem;
        }
    }
}

.career-outcomes {
    &__legend {
        display: flex;
        flex-flow: column;
    }

    &__note {
        margin-top: 35px;
    }
}

.employment-status,
.career-outcomes {
    &__legend {
        list-style-type: none;
        font-size: $fs-root;

        @include mqbp-up(t) {
            font-size: $fs-sm;
        }

        @include mqbp-up(d) {
            padding-left: 0.5rem;
        }

        &-entry {}
    }

    &__legend-perc {
        position: relative;
        font-weight: 700;

        &::before {
            content: 'â—';
            display: inline-block;
            width: 15px;
            height: 15px;
            font-size: 15px;
            position: absolute;
            bottom: 4px;
            left: -1.25rem;
        }
    }

    &__chart-support {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: $fs-d4;
        line-height: 1.2;

        span {
            font-size: $fs-d2;
            display: block;
        }

        @include mqbp-up(d) {
            font-size: $fs-d5;

            span { font-size: $fs-d3; }
        }
    }
}

.coop-participation {
    &__label {
        @extend .fw--700;
    }

    &__overall {
        font-size: $fs-d7;

        @include mqbp-up(t) {
            font-size: 3.5rem;
        }

        @include mqbp-up(d) {
            font-size: $fs-d7;
        }
    }

    &__human-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.7rem;
    }

    .user-gray {
        stroke: $gray;
        fill: $gray;
    }

    .user-red {
        stroke: $black;
        fill: $black;
    }
}

.graduate-data {
    &__header {
        @extend .fs--d2;
        @extend .fw--700;

        position: relative;
        margin-top: 50px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;

        @include mqbp-up(t) {
            columns: 2;
        }
    }

    &__list.--b-first > li:first-child {
        @extend .fw--700;

        color: $red;
    }

    li { @extend .fs--sm; }

    &__perc {
        @extend .fw--700;

        display: inline-block;
        min-width: 7ch;
    }

    &__button {
        text-transform: uppercase;
        border-color: $black;
    }

    &__banner {
        background-color: $gray-100;
        color: $black;
        padding: 2rem;
        display: flex;
        flex-flow: row;

        @include mqbp-up(t) {
            flex-flow: row;
        }
    }

    &__top {
        display: flex;
        justify-content: center;
        width: 40%;
        flex-flow: column;
        margin-right: 2rem;

        .fs--d5 { font-size: $fs-d4 !important; }

        @include mqbp-up(t) {
            align-items: center;

            .fs--d5 { font-size: $fs-d5 !important; }
        }
    }

    &__top-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 50%;
        align-self: center;

        @include mqbp-up(t) {
            columns: 2;
        }
    }

    &__schools {
        &-nav {
            position: absolute;
            top: 0.25rem;
            right: 0;
        }
    }
}

.no-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 0;
    color: $white;
    touch-action: none;
}

.__toggler {
    font-size: $fs-sm !important;
    display: inline-flex !important;
}

.filter-menu {
    padding-top: 1rem;
    text-align: center;

    &__text {
        @extend .ls--loose;
        @extend .tt--u;
        @extend .fs--xs;
    }

    &__wrapper {
        position: relative;
        margin: 0 0 15px;
    }

    &__select {
        font-size: 17px;
        width: 100%;
        position: relative;
        background-color: transparent;
        color: #ddd;
        border: 1px solid $gray;
        padding: 0.25rem 1rem 0.25rem 1rem;
        appearance: none;
        border-radius: 0;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 1rem;
            height: 1.5rem;
            content: "\E920";
        }

        @include mqbp-up(d) {
            font-size: $fs-xs;
            color: $black;
        }
    }

    &__select:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px);
    }

    &__label {
        @extend .fs--sm;

        color: $gray-300;

        @include mqbp-up(d) {
            font-weight: 700;
            color: $black;
        }
    }

    &__apply {
        font-size: $fs-sm !important;

        @include mqbp-up(d) {
            font-size: $fs-xs !important;
            background: $gray-100;
            border-color: $gray-400 !important;
        }
    }

    &__reset {
        padding: 0.5rem;
        color: $gray-200;
        display: block;

        @include mqbp-up(d) {
            color: $black;
            font-size: $fs-xs !important;
            border: 0 none;
            background-color: $gray-100;
            text-align: center;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }

        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }

        @include mqbp-up(d) {
            &:hover {
                background-color: $gray-200;
            }
        }
    }

    .vue-js-switch > span.v-switch-label {
        top: auto;
        bottom: 0;
    }

    .vue-js-switch > .v-switch-input:focus {
        -webkit-appearance: initial;
        height: 100%;
        width: 100%;
        margin: 0;
        left: 0;
        bottom: -15%;
        opacity: 1;
    }


    .v-select {
        background: white;
        color: $gray-800;
        box-sizing: border-box;
        border-radius: 0;

        &.multiselect {
            &--active {
                background-color: white !important;

                .dropdown-toggle {
                    border-left: 3px solid $gray-800;
                }

                .vs__selected-options .form-control {
                    position: absolute;
                }

                &.open {
                    .vs__selected-options .form-control {
                        position: relative;
                    }
                }
            }


            .selected-tag {
                background-color: #efefef;
                padding: 5px 6px 5px 10px;

                @include mqbp-up(d) {
                    font-size: $fs-xs;
                }
            }

            .vs__selected-options .form-control {
                margin-left: 12px;
            }
        }

        &.single {
            .vs__selected-options {
                flex-wrap: none;
            }

            .vs__selected-options input {
                position: absolute;
                bottom: -2px;
                left: 10px;
                width: 100%;
                height: 100%;
            }
        }

        &.loading {
            .open-indicator {
                display: none;
            }
        }

        .dropdown-toggle {
            border-radius: 0px;
            border: 1px solid #979797;
            min-height: 43px;

            .selected-tag {
                position: relative !important;
            }

            .close {
                z-index: 999;
            }

            .vs__selected-options input {
                font-size: 16px;

                @include mqbp-up(d) {
                    font-size: $fs-xs;
                }
            }

            .vs__selected-options ::placeholder {
                color: black;
            }
        }

        .dropdown-menu {
            cursor: pointer;
            font-size: 16px;
            padding: 0;

            @include mqbp-up(d) {
                font-size: $fs-xs;
            }

            li:first-of-type {
                padding-top: 0;
            }

            li {
                margin-bottom: 0;
            }

            li > a {
                padding: 7px 8px;

                @include mqbp-up(d) {
                    font-size: $fs-xs;
                }
            }

            .active > a{
                background: $gray-50;
                color: $black;
                font-weight: 700;
            }

            .highlight > a {
                min-height: auto;
                background: rgba(0, 0, 0, 0.75);
                color: $white;
            }
        }

        &--active {
            .dropdown-toggle {
                border-left: 3px solid $gray-800;
                background-color: $gray-100 !important;
                min-height: 41px;
                z-index: auto;
            }
        }


        .selected-tag {
            color: $gray-800;
            margin-left: 0.75rem;
            font-size: 16px;

            @include mqbp-up(d) {
                font-size: $fs-xs;
            }
        }
    }
}

.route-navigator {
    display: flex;
    justify-content: space-between;
    padding: 0;

    a {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.chart-menu {
    top: 0;
    padding-right: 0;
    color: white;
    padding: 0 1rem;
    justify-content: center;

    @include mqbp-up(d) {
        display: flex;
    }

    &__text {
        @extend .ls--loose;
        @extend .tt--u;
        @extend .fs--xs;
    }

    .__list {
        list-style-type: none;
        text-align: left;
        padding-left: 0;
        flex: 1;
        max-width: 1350px;

        @include mqbp-up(d) {
            // max-width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .__item {
        display: flex;
        border-bottom: 1px solid $gray-800;

        @include mqbp-up(d) {
            display: inline-flex;
            border-bottom: 0 none;
        }
    }

    .__link {
        width: 100%;
        padding-left: 0;
        color: $gray-200;
        transition:
            padding-left $transition,
            background-color $transition;

        @include mqbp-up(d) {
            font-size: $fs-sm;
            transition: none;
            padding-right: 1rem;
            padding-left: 1rem;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                border-bottom: 4px solid transparent;
            }
        }

        &:hover {
            padding-left: 1rem;
            color: $white;

            @include mqbp-up(d) {
                padding-left: 1rem;
            }
        }

        &.router-link-active {
            @extend .fw--700;

            color: $white;

            &:after {
                border-bottom-color: $red;
            }
        }
    }
}

.chart-content {
    padding: 1rem;
    margin: 0 auto;
    position: relative;

    @include mqbp-up(t) {
        padding: 2rem;
    }

    @include mqbp-up(d) {
        padding: 2.125rem 2rem 2rem 3rem;
    }

    @include mqbp-up(w) {
        padding: 2.125rem 1rem 2rem 3rem;
    }
}

// .max-w--100 { max-width: 100%; }

@keyframes fadeDown {
  0%,
  20% {
    top: -2rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

#app_nav_menus,
#app_nav_buttons {
    position: sticky !important;
    top: 0;
}

#app_nav_buttons { z-index: 1; }

#app_nav_menus { z-index: 2; }

@include mqbp-up(d) {
    #app_nav_menus {
        z-index: 1;
    }

    .filter-menu {
        position: sticky !important;
        top: 2.75rem;
    }
}

@include mqbp-up(w) {
    .filter-menu {
        top: 3rem;
    }
}

.\--disabled {
    border-color: $gray-200;
    color: $gray-300;

    &:hover {
        cursor: not-allowed;
        border-color: $gray-200;
        color: $gray-300;
        background-color: transparent;
    }
}

// override formstone styles (required)
.fs-navigation-overlay-nav.fs-navigation-enabled {
    background-color: $gray-800;
    color: $white;
    z-index: 2;
}

.fs-navigation-handle.fs-navigation-enabled,
.fs-navigation-overlay-handle.fs-navigation-enabled {
    @extend .btn;
    @extend .bg--black;
    @extend .bc--none;
    @extend .tt--caps;
}

.fs-navigation-enabled.fs-navigation-open {
    @include mqbp-up(t) {
        width: 24rem;
    }
}

// Vue Transitions
.fade-enter-active,
.fade-leave-active {
    transition:
        opacity 0.325s ease-in;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

// Contrast toggled on
.contrast {
    .section {
        .__header {
            .__title { font-weight: 700 !important; }
            .__subtitle { font-weight: 400; }
        }
    }

    .tc--gray { color: $gray-700; }
    .tc--gray-600 { color: $gray-800; }
    .tc--gray-500 { color: $gray-700; }
}

.vue-js-switch .v-switch-label {
    &.v-right { color: $black !important; }
    &.v-left { color: $white !important; }
}
