@import "~kernl-ui/src/styles/main";

.industry-data {
    &__title {
        @extend .fs--d3;
        @extend .fw--300;

        padding-bottom: 5px;
        border-bottom: 1px solid $gray;
    }

    &__header {
        @extend .fs--d2;
        @extend .fw--700;

        margin-top: 50px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        columns: 2;
    }

    &__list.--b-first > li:first-child {
        @extend .fw--700;

        color: $red;
    }

    &__perc {
        @extend .fw--700;

        display: inline-block;
        min-width: 7ch;
    }

    &__button {
        text-transform: uppercase;
        border-color: black;
    }
}

.chrome-header {
    @extend .bg--gray-700;

    &.__copy {
        @extend .fw--100;

        max-width: 800px;
        margin: 3rem auto 0;
        
        @media only screen and (min-width: 768px) {
            margin-top: 1rem;
        }
    }
}

.career-outcomes {
    &__banner {
        background-color: $gray-100;
        color: black;
        display: flex;
        padding: 15px 25px;
    }

    &__note {
        margin-top: 35px;
    }
}

.coop-participation {
    &__title {
        @extend .fs--d3;
        @extend .fw--200;

        padding-bottom: 5px;
        border-bottom: 1px solid $gray;
    }

    &__label {
        @extend .fw--700;
    }

    &__human-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }

    .user-gray {
        stroke: $black;
        fill: $black;
    }

    .user-red {
        stroke: $red;
        fill: $red;
    }
}

.graduate-data {
    &__title {
        @extend .fs--d3;
        @extend .fw--200;

        padding-bottom: 5px;
        border-bottom: 1px solid $gray;
    }

    &__header {
        @extend .fs--d2;
        @extend .fw--700;

        margin-top: 50px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;
        columns: 2;
    }

    &__list.--b-first > li:first-child {
        @extend .fw--700;

        color: $red;
    }

    &__perc {
        @extend .fw--700;

        display: inline-block;
        min-width: 7ch;
    }

    &__button {
        text-transform: uppercase;
        border-color: black;
    }

    &__banner {
        background-color: $gray-100;
        color: black;
        display: flex;
        padding: 15px 25px;
    }

    &__top {
        display: flex;
        align-items: center;
    }

    &__top-list {
        list-style: none;
        padding: none;
        columns: 2;
        margin: 0 4rem;
    }
}

.__logo__image {
    margin-left: -0.5rem;

    @include mqbp-up(t) {
        margin-left: -0.75rem;
    }

    @include mqbp-up(d) {
        margin-left: -1rem;
    }
}

.filter-menu {
    // position: fixed;
    // bottom: 0;
    // width: 100%;

    > p {
       @extend .ls--loose;
       @extend .tt--u;
       @extend .fs--xs;
       // @extend .ta--r;
    }

    // > div {
    //     display: flex;
    //     flex-wrap: nowrap;
    //     flex-flow: nowrap;
    //     justify-content: center;
    //     align-items: center;
    // }

    select {
        width: 100%;
        position: relative;
        background-color: transparent;
        color: #ddd;
        border: 1px solid rgba(255, 255, 255, 0.5);
        padding: 0.25rem 2rem 0.25rem 1rem;
        appearance: none;
        border-radius: 0;
        
        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 1.5rem;
            height: 1.5rem;
            content: "\E920";
        }
    }

    select:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px);
    }
}

.select__wrapper {
    position: relative;
    // width: 100%;
    margin: 0;

    &::before {
        content: "\E920";
        font-family: 'FeatherIcons';
        color: #ddd;
        display: inline-block;
        position: absolute;
        right: 1rem;
        bottom: 0.5rem;
        pointer-events: none;
    }

    @include mqbp-up(t) {
        &::before {
            right: 1.5rem;
        }
    }

    @include mqbp-up(d) {
        &::before {
            right: 2rem;
        }
    }
}

.chart-menu {
    background-color: $gray-800;
    padding-right: 0;
    color: white;

    ul {
        list-style-type: none;
        text-align: left;
        padding-left: 0;
    }

    li {
        height: 70px;
        display: flex;
        align-items: center;
        padding-left: 25px;
        border-bottom: 4px solid $gray-800;
    }

    li.active {
        background-color: $gray-700;
        border-bottom: 4px solid $red;
    }
}

.chart-menu {
    top: 0;
}
