*,
*:before,
*:after { box-sizing: border-box; }

@import "~kernl-ui/src/styles/main";
@import "~formstone/dist/css/navigation";

.\--flush > .row {
    margin-right: 0;
    margin-left: 0;
}

.section {
    &:not(.\--hero) > .__header {
        .__title {
            @extend .fs--d3;
            @extend .fw--300;
            padding-bottom: 5px;
            border-bottom: 1px solid $gray;
        }

        .__subtitle { font-size: $fs-root; }
    }

    &.\--hero {
        > .__header {
            flex: 0;
        }

        .__title,
        .__subtitle { animation: fadeDown 1.5s ease-in-out 0s 1; }

        .__subtitle {
            font-size: $fs-root;

            @include mqbp-up(d) {
                font-size: $fs-d1;
            }
        }

        @include mqbp-up(d) {
            .__title {
                font-size: 2.66rem !important;
            }
        }

        @media screen and (min-width: 1441px) {
            max-height: 580px !important;
            min-height: auto;
            padding-top: 14rem;

            .btn { display: none; }
        }
    }

    &.router-view { position: static; } // for faux modal
}

.salaries {
    &__title {
        @extend .fs--d3;
        @extend .fw--300;

        padding-bottom: 5px;
        border-bottom: 1px solid $gray;
        margin-bottom: 3.5rem;
    }

    &__y-label {
        display: block;
        transform: rotate(-90deg);
        align-self: center;
        margin: 0;
        width: 5%;
    }
}

.active-filters {
    &__list {
        list-style-type: none;
        padding: 0;
    }

    &__name {
        @extend .fw--700;

        text-transform: capitalize;
    }

}

.industry-data {
    &__header {
        @extend .fs--d2;
        @extend .fw--700;

        margin-top: 50px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;

        @include mqbp-up(t) {
            columns: 2;
        }
    }

    &__list.--b-first > li:first-child {
        @extend .fw--700;

        color: $red;
    }

    li { @extend .fs--sm; }

    &__perc {
        @extend .fw--700;

        display: inline-block;
        min-width: 7ch;
    }

    &__button {
        text-transform: uppercase;
        border-color: $black;
    }

    &__companies {
        position: relative;

        &-nav {
            position: absolute;
            top: 0.25rem;
            right: 0;
        }
    }
}

.chrome-header {
    @extend .bg--gray-700;

    &.__copy {
        @extend .fw--100;

        max-width: 800px;
        margin: 3rem auto 0;

        @include mqbp-up(d) {
            margin-top: 1rem;
        }
    }
}

.career-outcomes {
    &__banner {
        background-color: $gray-100;
        color: $black;
        display: flex;
        padding: 15px 25px;
    }

    &__legend {
        display: flex;
        flex-flow: column;
    }

    &__note {
        margin-top: 35px;
    }
}

.employment-status,
.career-outcomes {
    &__legend {
        list-style-type: none;

        @include mqbp-up(d) {
            padding-left: 0.5rem;
        }

        &-entry {}
    }

    &__legend-perc {
        position: relative;
        font-weight: 700;

        &::before {
            content: '●';
            display: inline-block;
            width: 15px;
            height: 15px;
            font-size: 15px;
            position: absolute;
            bottom: 4px;
            left: -1.25rem;
        }
    }

    &__chart-support {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: $fs-d4;
        line-height: 1.2;

        span {
            font-size: $fs-d2;
            display: block;
        }

        @include mqbp-up(d) {
            font-size: $fs-d5;

            span { font-size: $fs-d3; }
        }
    }
}

.coop-participation {
    &__label {
        @extend .fw--700;
    }

    &__overall {
        font-size: $fs-d7;

        @include mqbp-up(t) {
            font-size: 3.5rem;
        }

        @include mqbp-up(d) {
            font-size: $fs-d7;
        }
    }

    &__human-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.7rem;
    }

    .user-gray {
        stroke: $gray;
        fill: $gray;
    }

    .user-red {
        stroke: $black;
        fill: $black;
    }
}

.graduate-data {
    &__header {
        @extend .fs--d2;
        @extend .fw--700;

        position: relative;
        margin-top: 50px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;

        @include mqbp-up(t) {
            columns: 2;
        }
    }

    &__list.--b-first > li:first-child {
        @extend .fw--700;

        color: $red;
    }

    li { @extend .fs--sm; }

    &__perc {
        @extend .fw--700;

        display: inline-block;
        min-width: 7ch;
    }

    &__button {
        text-transform: uppercase;
        border-color: $black;
    }

    &__banner {
        background-color: $gray-100;
        color: $black;
        padding: 15px 25px;
        display: flex;
        flex-flow: row;

        @include mqbp-up(t) {
            flex-flow: row;
        }
    }

    &__top {
        display: flex;
        justify-content: center;
        width: 40%;
        flex-flow: column;
        margin-right: 2rem;

        @include mqbp-up(t) {
            align-items: center;
        }
    }

    &__top-list {
        list-style: none;
        padding: 0;
        margin: 0;
        width: 50%;
        align-self: center;

        @include mqbp-up(t) {
            columns: 2;
        }
    }

    &__schools {
        &-nav {
            position: absolute;
            top: 0.25rem;
            right: 0;
        }
    }
}

.no-data {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 92vh;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    color: $white;
}

.__logo__image {
    margin-left: -0.5rem;

    @include mqbp-up(t) {
        margin-left: -0.75rem;
    }

    @include mqbp-up(d) {
        margin-left: -1rem;
    }
}

.filter-menu {
    text-align: center;

    &__text {
        @extend .ls--loose;
        @extend .tt--u;
        @extend .fs--xs;
    }

    &__wrapper {
        position: relative;
        margin: 0 0 15px;

        &::before {
            content: "\E920";
            font-family: 'FeatherIcons';
            color: #ddd;
            display: inline-block;
            position: absolute;
            right: 1rem;
            bottom: 0.5rem;
            pointer-events: none;
        }
    }

    &__select {
        font-size: 17px;
        width: 100%;
        position: relative;
        background-color: transparent;
        color: #ddd;
        border: 1px solid $gray;
        padding: 0.25rem 1rem 0.25rem 1rem;
        appearance: none;
        border-radius: 0;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 1rem;
            height: 1.5rem;
            content: "\E920";
        }

        @include mqbp-up(d) {
            font-size: $fs-xs;
            color: $black;
        }
    }

    &__select:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px);
    }

    &__label {
        @extend .fs--sm;

        color: $gray-300;

        @include mqbp-up(d) {
            font-weight: 700;
            color: $black;
        }
    }

    &__apply {
        font-size: $fs-sm !important;

        @include mqbp-up(d) {
            font-size: $fs-xs !important;
            background: $gray-100;
            border-color: $gray-400 !important;
        }
    }

    &__reset {
        padding: 0.5rem;
        color: $gray-200;
        display: block;

        @include mqbp-up(d) {
            color: $black;
            font-size: $fs-xs !important;
            border: 0 none;
            background-color: $gray-100;
            text-align: center;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.2);
            cursor: pointer;
        }

        &:focus {
            outline: -webkit-focus-ring-color auto 5px;
        }

        @include mqbp-up(d) {
            &:hover {
                background-color: $gray-200;
            }
        }
    }

    .vue-js-switch > span.v-switch-label {
        top: auto;
        bottom: 0;
    }

    .vue-js-switch > .v-switch-input:focus {
        -webkit-appearance: initial;
        height: 100%;
        width: 100%;
        margin: 0;
        left: 0;
        bottom: -15%;
        opacity: 1;
    }

    .multiselect {
        color: $gray-800;

        &__element {
            padding: 0;
            margin: 0;
        }

        &__content-wrapper {
            overflow-x: visible;
        }

        &__content {
            width: 100%;
        }

        &__input {
            font-size: 17px;
            border: 0 none;
            padding: 0;

            @include mqbp-up(d) {
                font-size: $fs-xs;
            }
        }

        &__single {
            padding: 5px 10px;
            line-height: 1.1;

            @include mqbp-up(d) {
                font-size: $fs-xs;
            }
        }

        &__placeholder {
            color: $gray-800;
            margin-left: 0.5rem;
        }

        &__option {
            padding: 7px 8px;
            height: auto;
            min-height: auto;
            color: $black;

            @include mqbp-up(d) {
                font-size: $fs-xs;
            }

            &\--highlight {
                min-height: auto;
                background: rgba(0, 0, 0, 0.75);
                color: $white;
            }

            &::after {
                display: none;
            }

            &--selected {
                &.multiselect__option--highlight {
                    background: $gray-50;
                    color: $black;
                }
            }
        }

        &__tag {
            background: $gray-100;
            color: $black;
            padding: 5px 26px 5px 10px;
            margin-bottom: 3px;

            &-icon {
                &:hover {
                    background: rgba(0, 0, 0, 0.4);
                }

                &::after {
                    color: rgba($black, 0.6);
                }
            }
        }

        &__tags {
            height: auto;
            min-height: auto;
            border-radius: 0;
            border: 1px solid $gray;
            background: #fff;

            @include mqbp-up(d) {
                font-size: $fs-xs;
            }
        }

        &\--active {
            border-left: 3px solid $gray-800;
            background-color: $gray-100 !important;
        }
    }
}

.route-navigator {
    display: flex;
    justify-content: space-between;
    padding: 0;

    a {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.chart-menu {
    top: 0;
    padding-right: 0;
    color: white;
    padding: 0 1rem;

    &__text {
        @extend .ls--loose;
        @extend .tt--u;
        @extend .fs--xs;
    }

    .__list {
        list-style-type: none;
        text-align: left;
        padding-left: 0;

        @include mqbp-up(d) {
            // max-width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .__item {
        display: flex;
        border-bottom: 1px solid $gray-800;

        @include mqbp-up(d) {
            display: inline-flex;
            border-bottom: 0 none;
        }
    }

    .__link {
        width: 100%;
        padding-left: 0;
        color: $gray-200;
        transition:
            padding-left $transition,
            background-color $transition;

        @include mqbp-up(d) {
            font-size: $fs-sm;
            transition: none;
            padding-right: 1rem;
            padding-left: 1rem;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                border-bottom: 4px solid transparent;
            }
        }

        &:hover {
            padding-left: 1rem;
            color: $white;

            @include mqbp-up(d) {
                padding-left: 1rem;
            }
        }

        &.router-link-active {
            @extend .fw--700;

            color: $white;

            &:after {
                border-bottom-color: $red;
            }
        }
    }
}

.chart-content {
    padding: 1rem;
    margin: 0 auto;
    position: relative;

    @include mqbp-up(t) {
        padding: 2rem;
    }

    @include mqbp-up(d) {
        padding: 1.5rem 2rem 2rem 3rem;
    }

    @include mqbp-up(w) {
        padding: 2.5rem 1rem 2rem 3rem;
    }
}

// .max-w--100 { max-width: 100%; }

@keyframes fadeDown {
  0%,
  20% {
    top: -2rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

#app_nav_menus,
#app_nav_buttons {
    position: sticky !important;
    top: 0;
}

#app_nav_buttons { z-index: 1; }

#app_nav_menus { z-index: 2; }

@include mqbp-up(d) {
    #app_nav_menus {
        z-index: 1;
    }

    .filter-menu {
        position: sticky !important;
        top: 2rem;
    }
}

// override formstone styles (required)
.fs-navigation-overlay-nav.fs-navigation-enabled {
    background-color: $gray-800;
    color: $white;
    z-index: 2;
}

.fs-navigation-handle.fs-navigation-enabled,
.fs-navigation-overlay-handle.fs-navigation-enabled {
    @extend .btn;
    @extend .bg--black;
    @extend .bc--none;
    @extend .tt--caps;
}

.carousel {
    .fs-carousel-page {
        width: 10px;
        height: 10px;
        background: #263238;
        border-radius: 100%;
        margin: 0 3px;
        opacity: 0.5;
        overflow: hidden;
        text-indent: 200%;
        white-space: nowrap;

        &.fs-carousel-active {
            opacity: 1;
        }
    }

    .fs-carousel-control {
        opacity: 0;
    }

    .fs-carousel-pagination {
        margin-top: -1.5rem;
    }

    .card {
        margin-bottom: 0;
        padding-bottom: 1rem;
    }
}

// Vue Transitions
.fade-enter-active,
.fade-leave-active {
    transition:
        opacity 0.325s ease-in;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

// Contrast toggled on
.contrast {
    .section {
        .__header {
            .__title { font-weight: 700 !important; }
            .__subtitle { font-weight: 400; }
        }
    }

    .tc--gray { color: $gray-700; }
    .tc--gray-600 { color: $gray-800; }
    .tc--gray-500 { color: $gray-700; }
}

