@import "~kernl-ui/src/styles/main";
@import "~formstone/dist/css/navigation";

.section {
    &:not(.\--hero) > .__header {
        .__title {
            @extend .fs--d3;
            @extend .fw--300;
            padding-bottom: 5px;
            border-bottom: 1px solid $gray;
        }

        .__subtitle { font-size: $fs-root; }
    }

    &.\--hero {
        > .__header {
            flex: 0;
        }

        .__title,
        .__subtitle { animation: fadeDown 1.5s ease-in-out 0s 1; }

        .__subtitle {
            font-size: $fs-root;

            @include mqbp-up(d) {
                font-size: $fs-d1;
            }
        }

        @include mqbp-up(d) {
            .__title {
                font-size: 2.66rem !important;
            }
        }
    }
}

.salaries {
    &__title {
        @extend .fs--d3;
        @extend .fw--300;

        padding-bottom: 5px;
        border-bottom: 1px solid $gray;
        margin-bottom: 3.5rem;
    }

    &__y-label {
        display: block;
        transform: rotate(-90deg);
        align-self: center;
        margin: 0;
        width: 5%;
    }
}

.active-filters {
    &__list {
        list-style-type: none;
        padding-left: 0;
    }

    &__name {
        @extend .fw--700;

        color: $red;
        text-transform: capitalize;
    }

}

.industry-data {
    &__header {
        @extend .fs--d2;
        @extend .fw--700;

        margin-top: 50px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;

        @include mqbp-up(t) {
            columns: 2;
        }
    }

    &__list.--b-first > li:first-child {
        @extend .fw--700;

        color: $red;
    }

    li { @extend .fs--sm; }

    &__perc {
        @extend .fw--700;

        display: inline-block;
        min-width: 7ch;
    }

    &__button {
        text-transform: uppercase;
        border-color: $black;
    }
}

.chrome-header {
    @extend .bg--gray-700;

    &.__copy {
        @extend .fw--100;

        max-width: 800px;
        margin: 3rem auto 0;

        @include mqbp-up(d) {
            margin-top: 1rem;
        }
    }
}

.career-outcomes {
    &__banner {
        background-color: $gray-100;
        color: $black;
        display: flex;
        padding: 15px 25px;
    }

    &__legend {
        display: flex;
        flex-flow: column;
    }

    &__note {
        margin-top: 35px;
    }
}

.employment-status,
.career-outcomes {
    &__legend {
        list-style-type: none;

        @include mqbp-up(d) {
            padding-left: 0.5rem;
        }

        &-entry {}
    }

    &__legend-perc {
        position: relative;
        font-weight: 700;
        margin-right: 0.25rem;

        &::before {
            content: 'â—';
            display: inline-block;
            width: 15px;
            height: 15px;
            font-size: 0.8em;
            position: absolute;
            bottom: 1px;
            left: -1.25rem;
        }
    }

    &__chart-support {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 50%;
        transform: translateY(-50%);
        text-align: center;
        font-size: $fs-d4;
        line-height: 1.2;

        span {
            font-size: $fs-d2;
            display: block;
        }

        @include mqbp-up(d) {
            font-size: $fs-d6;

            span { font-size: $fs-d4; }
        }
    }
}

.coop-participation {
    &__label {
        @extend .fw--700;
    }

    &__human-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.7rem;
    }

    .user-gray {
        stroke: $black;
        fill: $black;
    }

    .user-red {
        stroke: $red;
        fill: $red;
    }
}

.graduate-data {
    &__header {
        @extend .fs--d2;
        @extend .fw--700;

        margin-top: 50px;
        padding-bottom: 5px;
        border-bottom: 1px solid $gray-200;
    }

    &__list {
        list-style-type: none;
        padding-left: 0;

        @include mqbp-up(t) {
            columns: 2;
        }
    }

    &__list.--b-first > li:first-child {
        @extend .fw--700;

        color: $red;
    }

    li { @extend .fs--sm; }

    &__perc {
        @extend .fw--700;

        display: inline-block;
        min-width: 7ch;
    }

    &__button {
        text-transform: uppercase;
        border-color: $black;
    }

    &__banner {
        background-color: $gray-100;
        color: $black;
        display: flex;
        padding: 15px 25px;
    }

    &__top {
        display: flex;
        align-items: center;
    }

    &__top-list {
        list-style: none;
        padding: none;
        margin: 0 4rem;

        @include mqbp-up(t) {
            columns: 2;
        }
    }
}

.__logo__image {
    margin-left: -0.5rem;

    @include mqbp-up(t) {
        margin-left: -0.75rem;
    }

    @include mqbp-up(d) {
        margin-left: -1rem;
    }
}

.filter-menu {
    text-align: center;

    &__text {
        @extend .ls--loose;
        @extend .tt--u;
        @extend .fs--xs;
    }

    &__wrapper {
        position: relative;
        margin: 0 0 15px;

        &::before {
            content: "\E920";
            font-family: 'FeatherIcons';
            color: #ddd;
            display: inline-block;
            position: absolute;
            right: 1rem;
            bottom: 0.5rem;
            pointer-events: none;
        }
    }

    &__select {
        font-size: 17px;
        width: 100%;
        position: relative;
        background-color: transparent;
        color: #ddd;
        border: 1px solid $gray;
        padding: 0.25rem 1rem 0.25rem 1rem;
        appearance: none;
        border-radius: 0;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            width: 1rem;
            height: 1.5rem;
            content: "\E920";
        }

        @include mqbp-up(d) {
            font-size: $fs-xs;
            color: $black;
        }
    }

    &__select.\--active {
        background: $gray-50;
        border-left: 3px solid $black;
    }

    &__select:not([size]):not([multiple]) {
        height: calc(2.25rem + 2px);
    }

    &__label {
        @extend .fs--sm;

        color: $gray-300;

        @include mqbp-up(d) {
            font-weight: 700;
            color: $black;
        }
    }

    &__apply {
        font-size: $fs-xs !important;

        @include mqbp-up(d) {
            background: $gray-100;
            border-color: $gray-400 !important;
        }
    }

    &__reset {
        padding: 0.5rem;
        color: $gray-200;
        font-size: $fs-xs !important;
        display: block;

        @include mqbp-up(d) {
            color: $black;
            display: inline-block;
            text-align: center;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .multiselect {
        &__element {
            padding: 0;
            margin: 0;
        }

        &__content-wrapper {
            overflow-x: visible;
        }

        &__content {
            min-width: auto;
            max-width: 100%;
        }

        &__input {
            font-size: 17px;
            border: 0 none;
            padding: 0;

            @include mqbp-up(d) {
                font-size: $fs-xs;
            }
        }

        &__single {
            font-size: $fs-xs;
        }

        &__option {
            padding: 5px 8px;
            height: auto;
            min-height: auto;
            font-size: $fs-xs;
            color: $black;

            &\--highlight {
                min-height: auto;
                background: rgba(0, 0, 0, 0.75);
                color: $white;
            }

            &::after {
                display: none;
            }

            &--selected {
                &.multiselect__option--highlight {
                    background: $gray-50; // NU Gold
                    color: $black;
                }
            }
        }

        &__tag {
            background: $red;
            padding: 5px 26px 5px 10px;
            margin-bottom: 3px;

            &-icon {
                &:hover {
                    background: rgba(0, 0, 0, 0.2);
                }

                &::after {
                    color: rgba($white, 0.6);
                }
            }
        }

        &__tags {
            height: auto;
            min-height: auto;
            padding: 0.5rem 2.5rem 0 1rem;
            border-radius: 0;
            border: 1px solid $gray;
            background: #fff;
            font-size: $fs-xs;
        }
    }
}

.route-navigator {
    display: flex;
    justify-content: space-between;
    padding: 0;

    a {
        display: flex;
        align-items: center;

        &:hover {
            cursor: pointer;
        }
    }
}

.chart-menu {
    top: 0;
    padding-right: 0;
    color: white;
    padding: 0 1rem;

    &__text {
        @extend .ls--loose;
        @extend .tt--u;
        @extend .fs--xs;
    }

    .__list {
        list-style-type: none;
        text-align: left;
        padding-left: 0;

        @include mqbp-up(d) {
            max-width: 90%;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }

    .__item {
        display: flex;
        border-bottom: 1px solid $gray-800;

        @include mqbp-up(d) {
            display: inline-flex;
            border-bottom: 0 none;
        }
    }

    .__link {
        width: 100%;
        padding-left: 0;
        color: $gray-200;
        transition:
            padding-left $transition,
            background-color $transition;

        @include mqbp-up(d) {
            font-size: $fs-sm;
            transition: none;
            padding-right: 1rem;
            padding-left: 1rem;

            &:after {
                content: '';
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                border-bottom: 4px solid transparent;
            }
        }

        &:hover {
            padding-left: 1rem;
            color: $white;

            @include mqbp-up(d) {
                padding-left: 1rem;
            }
        }

        &.router-link-active {
            @extend .fw--700;

            color: $white;

            &:after {
                border-bottom-color: $red;
            }
        }
    }
}

.chart-content {
    padding: 2rem;
    margin: 0 auto;

    @include mqbp-up(d) {
        padding: 3rem;
    }
}

@keyframes fadeDown {
  0%,
  20% {
    top: -2rem;
    opacity: 0;
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

#app_nav_menus,
#app_nav_buttons {
    position: sticky !important;
    top: 0;
}

#app_nav_buttons { z-index: 1; }

#app_nav_menus { z-index: 2; }

@include mqbp-up(d) {
    #app_nav_menus {
        z-index: 1;
    }

    .filter-menu {
        position: sticky !important;
        top: 2rem;
    }
}

// override formstone styles (required)
.fs-navigation-overlay-nav.fs-navigation-enabled {
    background-color: $gray-800;
    color: $white;
    z-index: 2;
}

.fs-navigation-handle.fs-navigation-enabled,
.fs-navigation-overlay-handle.fs-navigation-enabled {
    @extend .btn;
    @extend .bg--black;
    @extend .bc--none;
    @extend .tt--caps;
}

.carousel {
    .fs-carousel-page {
        width: 10px;
        height: 10px;
        background: #263238;
        border-radius: 100%;
        margin: 0 3px;
        opacity: .5;
        overflow: hidden;
        text-indent: 200%;
        white-space: nowrap;
    }

    .fs-carousel-control {
        opacity: 0.4;
    }

    .fs-carousel-active,
    .fs-carousel-page:hover,
    .fs-carousel-control:hover {
        opacity: 1;
    }
}

// Vue Transitions
.fade-enter-active,
.fade-leave-active {
    // transform: translate(5rem, 0);
    transition:
        opacity 0.325s ease-in;
        // transform 0.325s ease-in;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
    // transform: translate(-5rem, 0);
}
